.login_center_box{
  position:fixed; /* change this to fixed */
  top: 50%;
  left: 50%;
  margin-top: -15em;
  margin-left: -13em;
  width: 26em;
  height: 30em;
}

.testAccountBox{
  text-align: center;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 15em;
  width: 16em;
  margin-left: -8em;
  color: white;
  text-decoration: bold;
  background: rgba(0,0,0,0.30);
}

.username{
  display: block;
}

.password{
  display: block;
}

.login_input_boxes{
  background-color:rgba(0, 0, 0, 0);
  color: white;
  text-emphasis: none;
  font-weight: bold;
  width: 16em;
  border: none;
  outline:none;
  height:30px;
  background: rgba(0,0,0,0.30);
}

.login_username_input{
  margin-top: -4em;
}

::placeholder{
  color: white;
}

.title_text{
  font-size: 5em;
  color: white;
  display: block;
  text-align: center;
}

.title_description
{
  color: white;
  font-size: 3em;
  display: block;
  text-align: center;
}

.title_box{
  text-align: center;
}

.login_centered{
  position: fixed;
  top:50%;
  left:50%;
  margin-left: -8em;
  text-align: center;
}

.login_login_button{
  margin-top: 5em;
  height: 3em;
  width: 16em;
  font-weight: bold;
  margin-left: -8em;
  text-align: center;
  cursor: pointer;
}

.login_sign_up_button{
  margin-top: 10em;
  color: black;
  height: 2em;
  width: 10em;
  font-weight: bold;
  margin-left: -5em;
  text-align: center;
  cursor: pointer;
}

.full_page{
  background-image: url('../image/treeBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.header{
  font-size: 3em;
  color: white;
  font-weight: bold;
  margin-bottom: 35px;
}


@media only screen and (max-width: 900px) {
  .title_text{
    font-size: 3em;
    font-weight: bold;
  }
  .title_description{
    font-size: 1.8em;
  }
}


@media only screen and (max-width: 600px) {
  .title_text{
    font-size: 2em;
    font-weight: bold;
  }
  .title_description{
    font-size: 1.2em;
  }
}


@media only screen and (max-height: 700px) {
  .login_username_input{
    margin-top: -6em;
  }
  .login_password_input{
    margin-top: -4em;
  }
  .login_login_button{
    margin-top: -1em;
    width: 10em;
    margin-left: -5em;
  }
  .login_sign_up_button{
    margin-top: 3em;
    width: 6em;
    margin-left: -3em;
  }
  .testAccountBox{
    margin-top: 6em;
  }
  .login_input_boxes{
    width: 10em;
    margin-left: -5em;
  }
}
